body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: center; /* Centrar contenido horizontalmente */
    margin-top: 70px;
}

#main-app h1 {
    text-align: center;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté por encima del resto del contenido */
}

.nav-left h1 {
    margin: 0;
}

#search-form {
    margin: 20px auto; /* Añadido un margen en la parte superior e inferior del formulario */
    text-align: center;
    max-width: 600px; /* Añadido un ancho máximo para limitar el tamaño del formulario */
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.result-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.result-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.result-card h2 {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.result-card p {
    margin: 0;
    color: #555;
    text-align: center;
}

.result-card button {
    margin-top: auto;
    padding: 5px 10px;
    cursor: pointer;
}

#details-container {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
}

#product-details,
#price-comparison {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#product-details img {
    max-width: 200px;
}

.comparison-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comparison-card img {
    max-width: 100px;
    margin-right: 10px;
}

.comparison-card h2 {
    font-size: 16px;
    margin: 0;
}

.comparison-card p {
    margin: 0;
    color: #555;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}